
<%- include header %>

<section class="main">
	<div class="main-header-title">
		<h1 class="row">
			Search
		</h1></div>
	<div class="content row">
		<ul>
			<% var lastYear = 0 %>
			<% posts.forEach(function (post, index) { %>
			<% if(lastYear != post.time.year) { %>
			<li class="main-list">
				<% lastYear = post.time.year } %>
				<time><%= post.time.day %></time>
				<i class="sort">1</i>
				<a class="detail" href="u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">
					<%= post.title %>
			</li>
			<% }) %>
		</ul>
	</div>
</section>
